<tr>
	<td><%= calories[i].product %></td>
	<td><%= calories[i].calories %></td>
	<td><%= calories[i].name %></td>
	<td><%= calories[i].date %></td>
	<td><button type="button" class="btn btn-xs btn-danger" data-id="<%= calories[i].id %>">X</button></td>
</tr>